---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Shlok Desai">
	<main class="grid grid-cols-4 max-w-7xl mx-auto mt-20">
		<div id="left">
			<a href="/">
				<span class="text-gray11 text-base tracking-wider">cd . .</span>
			</a>
		</div>

		<div id="main" class="col-span-2">
			<h1 class="text-gray12 tracking-wide text-base">Shlok Desai</h1>

			<p class="text-gray12 mt-8 tracking-wider leading-relaxed font-light">
				<i class="font-serif">
					Software Engineer, Creative Thinker, Student, and Designer.
				</i>
				<br /><br />
				 I love crafting interfaces that delight and building products that
				solve problems. My interests also lie in the fields of big data,
				distributed systems, and machine learning.
				<br /><br />
				 I have been building websites (frontend & backend) for almost 2 years.
			</p>
		</div>

		<div id="right"></div>
	</main>
</Layout>
