---
import Rocket from '@icons/Rocket.astro';
import ArrowUpRight from '@icons/ArrowUpRight.astro';
import Link from './Link.astro';
---

<footer class="border-y border-gray7 py-3 px-4">
	<!-- <div
		class="max-w-2xl mx-auto flex items-center justify-between text-gray11 leading-relaxed
          font-light text-sm"
	>
		<span class="">Shlok Desai | shlokdesai33@gmail.com</span>
	</div> -->

	<div class="max-w-2xl mx-auto flex items-center justify-between">
		<Link
			href="/resume.pdf"
			variant="secondary"
			rel="noopener noreferrer"
			target="_blank"
		>
			My Resume
			<ArrowUpRight size={16} />
		</Link>

		<Link
			href="https://github.com/ShlokDesai33"
			variant="secondary"
			rel="noopener noreferrer"
			target="_blank"
		>
			Github
			<ArrowUpRight size={16} />
		</Link>

		<Link
			href="https://www.linkedin.com/in/shlok-desai-34b4b31b6/"
			variant="secondary"
			rel="noopener noreferrer"
			target="_blank"
		>
			LinkedIn
			<ArrowUpRight size={16} />
		</Link>
	</div>
</footer>
