---
import Rocket from '@icons/Rocket.astro';
---

<footer class="border-y border-gray7 py-3 px-4">
	<div
		class="max-w-2xl mx-auto flex items-center justify-between text-gray11 leading-relaxed
          font-light text-sm"
	>
		<span class="">Shlok Desai | shlokdesai33@gmail.com</span>

		<span class="inline-flex items-center gap-x-2">
			Ship fast, fail fast. <Rocket size={16} />
		</span>
	</div>
</footer>
